.authModal.auth-modal-container {
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.authModal.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authModal.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;
}

.authInput {
    padding: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
}

.authModal.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.authModal.submit-button, .authModal.cancel-button {
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 8px;
    width: 100%;
    cursor: pointer;
}

.authModal.submit-button {
    background-color: #f47366;
    color: white;
    font-weight: 600;
}

.authModal.cancel-button {
    background-color: #F5F5F5;
    color: #4B5563;
    border: none;
}

.authModal.social-login-container {
    margin-top: 16px;
    margin-bottom: 32px;
    width: 100%;
}

.authModal.social-login-container h4 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}

.authModal.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.authModal.social-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.authModal.social-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
@media screen and (max-width: 480px) {
    .authModal.auth-modal-container {
        padding: 16px;
        max-height: 85vh;
    }

    .authInput {
        font-size: 14px;
        padding: 10px;
    }

    .authModal.submit-button,
    .authModal.cancel-button {
        font-size: 14px;
        padding: 12px;
    }

    .authModal.social-button {
        font-size: 13px;
        padding: 10px 8px;
    }
}