.authModal.auth-modal-container {
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.authModal.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authModal.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;
}

.authInput {
    padding: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
}

.authModal.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.authModal.submit-button, .authModal.cancel-button {
    padding: 16px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 8px;
    width: 100%;
    cursor: pointer;
}

.authModal.submit-button {
    background-color: #f47366;
    color: white;
    font-weight: 600;
}

.authModal.cancel-button {
    background-color: #F5F5F5;
    color: #4B5563;
    border: none;
}

.authModal.social-login-container {
    margin-top: 16px;
    margin-bottom: 32px;
    width: 100%;
}

.authModal.social-login-container h4 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}

.authModal.social-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.authModal.social-button {
    flex: 1 1 calc(50% - 6px); /* 50% 너비에서 gap의 절반을 뺀 크기 */
    max-width: calc(50% - 6px); /* 버튼이 한 줄에 2개씩 배치 */
    display: flex;
    align-items: center;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    justify-content: center;
    cursor: pointer;
    @media screen and (max-width: 768px) {
        font-size: 10px;
    }
}

.authModal.social-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
