/*캘린더 기본*/
.react-calendar {
    border: none;
    box-shadow: none;
    background-color: white;
    box-sizing: border-box;
}

/* 지난 날짜 (비활성화) */
.react-calendar__tile:disabled {
    color: #d3d3d3;
    cursor: default;
    background-color: white;
}
.react-calendar__navigation button:disabled {
    background-color: transparent;
}

/*오늘*/
.react-calendar__tile--now {
    background: transparent;
    color: #9370db;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background-color: #e6e6e6;
}

/*선택한 날짜*/
.dateModal .react-calendar__tile.start-date,
.dateModal .react-calendar__tile.in-range,
.dateModal .react-calendar .react-calendar__tile--active, /*액티스*/
.dateModal .react-calendar .react-calendar__tile--active:enabled:hover, /*액티브 호버*/
.dateModal .react-calendar .react-calendar__tile--active:enabled:focus /*액티브 클릭*/{
    background: #9370db;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.custom-block-date abbr {
    text-decoration: line-through;
    color: red;
    font-weight: bold;
}

.reservation-date abbr {
    text-decoration: line-through;
    color: #9370db;
    font-weight: bold;
}
.reservation-date {
    pointer-events: none;
}

/* start-dateRCS end-dateRCS range-dateRCS */
.react-calendar .react-calendar__tile--active, /*액티스*/
.react-calendar .react-calendar__tile--active:enabled:hover, /*액티브 호버*/
.react-calendar .react-calendar__tile--active:enabled:focus, /*액티브 클릭*/
.react-calendar .range-dateRCS,
.react-calendar .start-dateRCS,
.react-calendar .end-dateRCS
{
    background-color: white;
    color: black;
    border: 1px solid #9370db;
    border-radius: 8px;
}

