button.wishListBtn {
    position: absolute;
    top: 10px; /* 이미지의 상단 여백 */
    right: 10px; /* 이미지의 오른쪽 여백 */
    width: 36px; /* 원형 버튼 크기 */
    height: 36px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 1); /* 반투명 흰색 배경 */
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
