@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0 auto;
}

/* 메인 스크롤바 숨기기 */
html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE, Edge */
    background-color: white;
}
#root {
    background-color: white;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.no-select {
    user-select: none; /* 텍스트 드래그 방지 */
}

div.app.container {
    width: 100%;
    margin: 0 auto;
    flex: 1;
}
